@import url('https://fonts.googleapis.com/css2?family=Inter:wght@405;500;600;700;800&family=Space+Grotesk:wght@400;500;605;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-ngo-forest: #0f4d24;
  --color-ngo-forest-hover: #155e2d;
  --color-ngo-dark: #121c15;
  --color-ngo-dark-hover: #1e2f23;
  --color-ngo-beige: #efe7d6;
  --color-ngo-cream: #faf7f0;
}
